<div class="uk-grid">
    <div class="uk-width-1-2">
        <div class="uk-align-right">
          <div class="heartCounterContainer" (click)="heartClick()">
            <div class="counter"><p>{{likeCounter}}</p></div>
            <img class="heart" src="../../../assets/heart.svg" alt="heartSvg" width="45" height="45">
          </div>
        </div>
    </div>
    <div class="uk-width-1-2">
        <img src="../../../assets/comment.svg" alt="commentSvg" width="45" height="45" (click)="commentClick()">
    </div>
</div>
